{% extends "base.html" %}
{% block title %}Создать заявку{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Создание заявки</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control", rows=4) }}
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            {{ form.priority.label(class="form-label") }}
                            {{ form.priority(class="form-select") }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.service_id.label(class="form-label") }}
                            {{ form.service_id(class="form-select") }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.client_id.label(class="form-label") }}
                            {{ form.client_id(class="form-select") }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.assigned_to_id.label(class="form-label") }}
                        {{ form.assigned_to_id(class="form-select") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
